<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/main.css" />
    
    <title>Space Invaders</title>
  </head>
  <body>
  	<header>
    	<h1><a href="/">Spaaaaace Invaders!</a></h1>
    	<img src="/media/spaceship.png" />
    </header>
    
    <main>
    	<div id="main-wrapper">
	    	{{{body}}}
	    </div>
    </main>
    
    <footer>
    	<a href="/about">About</a>
    	| <a href="/contact">Contact</a>
    	| <a href="/media/voidship-notice.txt" target="_blank">Void Ship License</a>
    </footer>
  </body>
</html>
